body{
  background-image: url("https://www.southernliving.com/thmb/TiGXc2JsEJpsioS_TA-LDzRFPEc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/27531_ST_TENDERLOINS_13-7442687e434e4c4c95609ff0262773a2.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;  
  margin: 0; 
} 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.nav-bar {
  position: fixed; /* Keeps it at the top */
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(51, 51, 51, .8);
  padding: 10px, 20px;
  display: flex;
  justify-content:flex;
  align-items: center;
  z-index: 999;
  height: auto;
}

.menu-icon{
  height:4vh ;
  width: 4vh;
  padding: 2px;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-left: 14vh;*/
  width: 100%;
}

.search-bar input{
  padding: 8px;
  font-size: 17px;
  color: #393939;
  border-radius: 8px;
  max-width: 400px; 
  background-color: rgba(251, 251, 251, 0.8);
  border: white;
}

.menu-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between the buttons */
  align-items: flex-start; /* Optional: Align buttons to the left */

}

.list-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between the buttons */
  align-items: flex-start; /* Optional: Align buttons to the left */
}

.list-container button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: rgb(69, 69, 69, .0);
  color: white;
  cursor: pointer;
}

.list-container button:hover {
  background-color: rgb(85, 85, 85); /* Optional: Hover effect */
}

.menu-list{
  position: absolute; /* Drop it below the menu-container */
  top: 100%; /* Starts directly below the parent container */
  left: 0; /* Align it to the left */
  background-color: rgb(68, 68, 68, .5);
  list-style: none;
  margin: 0;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1000; /* Ensure it appears above other content */
  padding: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 3vh; 
  justify-content: center; 
  padding: 2vh; 
  margin: 15vh; 

}

.card {
  border-radius: 16px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
  margin: 16px , 0px; 
  padding: 16px; 
  background-color: rgba(95, 94, 94, 0.7); 
  width: 100%;
  text-align:left;
  font-size: 1.2rem;
}

.card-image{
  width: 14vh;
  margin-right: 5vh;
}

.toggle-star{
  width: 3vh;
  height: 4vh;
  margin-right: 100%;
}

.about-us{
  background-color: rgba(95, 94, 94, 0.4);
}

@media (max-width: 1px) {
  body {
    background-size: contain; 
  }
}

.read-the-docs {
  color: #888;
}
