body{
  background-image: url("https://www.southernliving.com/thmb/TiGXc2JsEJpsioS_TA-LDzRFPEc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/27531_ST_TENDERLOINS_13-7442687e434e4c4c95609ff0262773a2.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;  
  margin: 0; 
} 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(51, 51, 51); /* You can change this to any color */
  z-index: 1000; /* To make sure the navbar stays on top of other content */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 3vh; 
  justify-content: center; 
  padding: 2vh; 
  margin: 0 auto; 

}

.card {
  border-radius: 16px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
  margin: 16px , 0px; 
  padding: 16px; 
  background-color: rgba(95, 94, 94, 0.7); 
  width: 100%;
  text-align:left;
  font-size: 1.2rem;
}

.card-image{
  width: 14vh;
  margin-right: 5vh;
}

.toggle-star{
  width: 3vh;
  height: 4vh;
  margin-right: 100%;
}

.about-us{
  background-color: rgba(95, 94, 94, 0.4);
}

.menu-circle{
  height:5vh ;
  width: 5vh;
}

@media (max-width: 1px) {
  body {
    background-size: contain; 
  }
}

.read-the-docs {
  color: #888;
}
